.system-blood-and-doom .bnd-sheet .bnd-armor-config-field-group {
  --bnd-pip-group-gap: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    font-size: var(--bnd-xs-text);
    font-weight: 500;
    color: var(--bnd-heading-text-color);
    text-align: center;
  }

  &__header {
    display: flex;
    gap: 0.75rem;
  }

  &__row {
    display: flex;
    gap: 0.5rem;
  }
}
